@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&family=Carattere&family=Carter+One&family=Italianno&family=Lobster&family=Montserrat:ital,wght@0,570;1,570&family=Petit+Formal+Script&family=Stack+Sans+Headline:wght@200..700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

/* Custom class for slide titles */
.slide-title {
    font-family: 'Stack Sans Headline', 'Montserrat', 'Azeret Mono', 'Winky Sans', 'Lobster', serif;
}